.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  
  .image-item {
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: auto;

  }